$light-gray: #a0a0a0; 
$gray: #999;
$dark-gray: #6f6f6f;

$orange: #ff5d00;
$dark-orange: #c64800;
$light-orange: #ff7d32;

$lightest-black: #444444;
$light-black: #232323;
$black: #000000;

$white: #ffffff;
