.hero {
  position: relative;
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, transparent 0%, $dark-orange 85%), url('http://res.cloudinary.com/dnj5rmvun/image/upload/v1500532633/chance_fv4fl3.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 45px;
  opacity: 0.9;
  min-width: 1000px;
}

.hero-main {
  position: absolute;
  top: 100px;
  right: 50px;
  color: $white;
  font-size: 72px;
  font-family: $main-text;
}

.hero-sub {
  position: absolute;
  top: 250px;
  right: 50px;
  color: $white;
  font-size: 50px;
  font-family: $main-text;
}

.hero-button {
  position: absolute;
  color: $white;
  top: 550px;
  right: 50px;
  font-size: 20px;
  font-family: $main-text;
  border: 1px solid $white;
  padding: 10px;
}

.hero-button:hover {
  background: $white;
  color: $orange;
}

.home {
  display: flex;
  justify-content: center;
}

.trending-songs-container {
  display: flex;
}

.trending-songs {
  width: 225px;
  height: 225px;
}

.col-left {
  flex-grow: 1;
}

.col-right {
  flex-grow: 1;
}

.col-middle {
  flex-grow: 1.8;
}
