.main-nav {
  position: fixed;
  z-index: 500;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  align-items: center;
  background-color: $black;
  min-width: 1150px;
}

.auth-buttons {
  display: flex;
}

.logo {
  margin-left: 115px;
  width: 125px;
  height: 39px;
}

.logo:hover {
  cursor: pointer;
}

.nav-button {
  color: $white;
  padding: 20px;
  font-size: 15px;
  font-family: $sans-serif;
  background: transparent;
}

.last-button {
  margin-right: 100px;
}

.nav-button:hover {
  text-decoration: underline;
}

.search-text {
  width: 215px;
  border-radius: 10px;
  padding: 2px;
  color: $black;
  font-family: $sans-serif;
  padding-left: 5px;
}

.search-bar input[type="text"] {
  background-color: $white;
}

.search-bar {
  color: $white;
}
