.image-container {
  width: 900px;
  height: 340px;
  background-size: 900px 250px;
  background-repeat: no-repeat;
  position: relative;
}

.profile-pic {
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: 100%;
  top: 140px;
  left: 20px;
}

.profile-username {
  font-family: $main-text;
  font-size: 50px;
  position: absolute;
  top: 260px;
  left: 250px;
}

.profile-description {
  font-family: $main-text;
  font-size: 20px;
  color: $lightest-black;
  position: absolute;
  top: 270px;
  left: 460px;
}

.self-image-container {
  width: 900px;
  height: 340px;
  background-size: 900px 250px;
  background-repeat: no-repeat;
  position: relative;
}

.cameracover {
  position: absolute;
  top: 0px;
  left: 0px;
}

.cameraprof {
  position: absolute;
  top: 0px;
  left: 0px;
}

.self-cover-pic {
  width: 900px;
  height: 250px;
}

.self-cover-pic:hover {
  .cameracover {
    visibility: visible;
  }
}

.self-profile-pic:hover {
  .cameraprof {
    visibility: visible;
  }
}

.self-profile-pic {
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: 100%;
  top: 140px;
  left: 20px;
}

.pencil-edit {
  position: absolute;
  right: 0;
  color: $lightest-black;
}

.pencil-edit:hover {
  cursor: pointer;
  color: $black;
}

.self-profile-username {
  font-family: $main-text;
  font-size: 50px;
  position: absolute;
  top: 260px;
  left: 250px;
}

.self-profile-description {
  font-family: $main-text;
  font-size: 20px;
  color: $lightest-black;
  position: absolute;
  background: $light-gray;
  width: 417px;
  height: 75px;
  top: 265px;
  left: 480px;
}

.hidden-cover-reader {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hidden-profile-reader {
  position: absolute;
  top: 138px;
  left: 5px;
  z-index: 2;
  opacity: 0;
}

.profile-container {
  display: flex;
}

.profile-col-left {
  flex-grow: 1;
}

.profile-col-right {
  flex-grow: 1;
}

.profile-col-middle {
  flex-grow: 3;
}
