.show-song-container {
  position: relative;
}

.show-song-info {
  font-family: $main-text;
  font-size: 50px;
  position: absolute;
  top: 150px;
  left: 900px;
}

.show-song-artist {
  color: $lightest-black;
}

.show-song-artist:hover {
  text-decoration: underline;
}

.song-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.song-page-left {
  flex-grow: 1;
}

.song-page-right {
  flex-grow: 3;
}

.show-comments {
  position: absolute;
  font-family: $sans-serif;
  top: 580px;
  left: 280px;
}

.show-modify-button {
  border: 1px solid $dark-orange;
  color: $dark-orange;
  font-size: 20px;
  padding: 10px;
}

.show-modify-button:hover {
  color: $white;
  background: $dark-orange;
}

.comment-author {
  font-size: 13px;
  color: $lightest-black;
}

.comment-author:hover {
  text-decoration: underline;
}

.comment-body {
  list-style: none;
  .fa-times {
    visibility: hidden;
  }
}

.comment-body:hover {
  .fa-times {
    visibility: visible;
  }

  .fa-times:hover {
    cursor: pointer;
  }
}

.comment-details {
  margin-bottom: 25px;
}

.songpage-col-left {
  width: 33%;
}

.songpage-col-right {
  width: 33%;
}

.songpage-col-middle {
  width: 33%;
}
