.show-song-container {
  position: relative;
}

.show-song-info {
  font-family: $main-text;
  font-size: 50px;
  position: absolute;
  top: 150px;
  left: 900px;
}

.show-song-artist {
  color: $lightest-black;
}

.song-page-container {
  position: relative;
}

.show-comments {
  position: absolute;
  font-family: $sans-serif;
  top: 600px;
  left: 300px;
}

.comment-author {
  font-size: 13px;
  color: $lightest-black;
}

.comment-body {
  list-style: none;
}

.comment-details {
  margin-bottom: 25px;
}
