.song-page-container .full-audio-player div.audioElements__mainPlayer___1XqiC {
  visibility: hidden;
  display: none;
}

.fa-play-circle-o:hover {
  cursor: pointer;
  color: $dark-orange;
}

.full-audio-player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.show-song-info {
  font-family: $main-text;
  font-size: 50px;
}

.show-song-artist {
  color: $lightest-black;
}

.show-song-time {
  color: $lightest-black;
  font-size: 20px;
}

.show-song-artist:hover {
  text-decoration: underline;
}

.song-page-container {
  display: flex;
  justify-content: center;
}

.show-comments {
  font-family: $sans-serif;
  margin-top: 10px;
  margin-left: 38px;
}

.show-modify-button {
  border: 1px solid $dark-orange;
  color: $dark-orange;
  font-size: 20px;
  padding: 10px;
}

.show-modify-button:hover {
  color: $white;
  background: $dark-orange;
}

.comment-author {
  font-size: 17px;
  color: $lightest-black;
}

.comment-author:hover {
  text-decoration: underline;
}

.comment-body {
  list-style: none;
  font-size: 22px;
  word-wrap: break-word;
  width: 270px;
  padding-right: 40px;

  .fa-times {
    visibility: hidden;
  }
}

.comment-time {
  list-style: none;
  color: $lightest-black;
  font-size: 13px;
}

.comment-body:hover {
  .fa-times {
    visibility: visible;
  }

  .fa-times:hover {
    cursor: pointer;
  }
}

.comment-details {
  margin-bottom: 25px;
}

.by {
  color: $lightest-black;
}

.comments-section {
  display: flex;
}

.submit-comment {
  font-family: $sans-serif;
  width: 250px;
  height: 70px;
  background: $white;
  border: 0.1px solid $black;
  margin-top: 135px;
}

.submit-comment-button {
  font-family: $sans-serif;
  background: $dark-orange;
  color: $white;
  padding-left: 60px;
  padding-right: 60px;
}

.show-comments-header {
  font-family: $sans-serif;
  border-bottom: 1px solid $dark-orange;
  color: $dark-orange;
  font-size: 40px;
  padding: 3px;
}
